$address-color: hsl(75, 94%, 57%);
$color: hsl(0, 0%, 100%);
$link-color: hsl(0, 0%, 20%);
$card-color: hsl(0, 0%, 12%);
$bg-color: hsl(0, 0%, 8%);
$footer-color: rgba(197, 248, 42,.3);
// $link-color:hsl(228, 45%, 44%);